<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p>Long ago  in a @Models.GetAdjective() land. Lived a small @Models.GetNoun().
his favorite thing to do was @Models.GetVerb(). One day he was running through
the woods when he saw a @Models.GetNoun(). He then tripped over a @Models.GetNoun(), and died
the end.</p>
</body>
</html>
